<section id="footer">
    <img src="/media/border2.png" alt="" id="footer-border">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/media/WhatsApp Image 2023-04-07 at 9.41.52 AM.jpeg" alt="">
         <p>We follow the excillance. Come with your passion we will show you thr right way to achieve it. Be proud of yourself you are the part of success stories. </p>
        </div>
        <div class="col-md-4">
          <h4>Aj Maths Acadmey</h4>
          <table>
            <tr>
              <td><span><i class="bi bi-buildings"></i></span></td>
              <td><p>:Tonk Road,Telephone Colony,Barkat Nagar, Tonk Phatak, Jaipur,Rajasthan</p></td>
            </tr>
            <tr>
              <td><span><i class="bi bi-telephone-fill"></i></span></td>
              <td><p>01283-6467</p></td>
            </tr>
            <tr>
              <td><span><i class="bi bi-phone"></i><span></span></td>
              <td><p>8374564646</p></td>
            </tr>
            <tr>
              <td><span><i class="bi bi-envelope"></i></span></td>
              <td><p>ajmathsacad@gmail.com</p></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <h4>Query</h4>
          <form action="" method="post">
            <input type="email" name="email" id="" placeholder="Enter email" class="form-contro form-control-lg">
            <textarea name="query" id="" placeholder="Your Query" class="form-control form-control-lg  mt-3 mb-3"></textarea>
            <button class="btn btn-success form-control form-control-lg">Submit</button>
          </form>
        </div>
      </div>
    </div>

  </section>