<div class="col-md-3">

<a href="/admin/banner"><button class="btn btn-success form-control mt-2 mb-2">Banner Management</button></a>

<a href="/admin/service"><button class="btn btn-success form-control mt-2 mb-2">Service Mangement</button></a>


<a href="/admin/testi"><button class="btn btn-success form-control mt-2 mb-2">Testinominals Mangement</button></a>

<a href="/admin/query"><button class="btn btn-success form-control mt-2 mb-2">Query Mangement</button></a>






</div>